* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root{
  --items-color:#e0e0e0;
  --background-color: rgb(224, 224, 224);
  --color-letter : black;
  
}

.darkMode{
  --background-color: #181818;
  --color-letter : white;
  --items-color:#2b2b2b;
}

body {
  background-color: var(--background-color) ;
  color: var(--color-letter);
  overflow-x: hidden;
}

/* ======================================button-theme==================================== */


input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

#labelDarkMode {
  cursor: pointer;
  text-indent: -9999px;
  width: 56px;
  height: 30px;
  background: rgb(2, 187, 2);
  border-radius: 100px;
  border: 2px solid white;
  position: fixed;
  top: 70px;
  left: 20px;
}

#labelDarkMode::after{
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + #labelDarkMode {
  background-color: var(--color-headings);
}

input:checked + #labelDarkMode::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

#labelDarkMode:active:after {
  width: 45px;
}
/* ======================================button-theme==================================== */

header {
  background: var(--items-color);
  box-shadow: 0px 5px 0px #acacac, 0px 0px 0px #ffffff;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 1;
  position:sticky;
  top: 0;
  letter-spacing: 1px;
  font-weight: bold;
  user-select: none;
}

#area-user {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-shrink: 1;
  flex-wrap: nowrap;
  user-select: none;
}

#area-user #user-name{
  padding-right: 5px;
}



#area-user #exit {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 1px solid rgb(196, 196, 196);
  padding: 5px;
  border-radius: 20px;
}

#area-user #exit:active {
  background-color: rgb(190, 190, 190);
}

.message-exit {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background-color: var(--items-color);
  color: var(--color-letter);
  position: absolute;
  top: 58px;
  right: 0px;
  border-bottom: 2px solid #acacac ;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  flex-wrap: nowrap;
}

.message-exit:hover {
  background-color: var(--background-color);
  box-shadow: 1px 1px #acacac;
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  transition: 0.5s;
}

.message-exit:active {
  background-color: #969696;
  color: #fff;
  transition: 0.1s;
}

.message-exit:focus-visible {
  display: none;
}

.message-exit img {
  width: 35px;
  height: 35px;
}
.active {
  display: flex;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

#titleStudent{
  letter-spacing: 5px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 20px;
}

#initialData {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#turma {
  height: auto;
  width: auto;
  padding: 20px;
  text-align: center;
  background-color: var(--items-color);
  border: 3px solid #acacac;
  border-radius: 20px;
  font-weight: bold;
}
#turma h3{
  letter-spacing: 1px;
}

#name {
  height: auto;
  width: auto;
  padding: 10px;
  background-color: var(--items-color);
  text-align: center;
  border: 3px solid #acacac;
  border-radius: 20px;
  font-weight: bold;
}

#name h3 {
  letter-spacing: 3px;
  font-size: 50px;
}



#studentPhoto {
  height: 180px;
  width: 180px;
  background-color: var(--items-color);
  border: 3px solid #acacac;
  border-radius: 50%;
}


#studentPerformance {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 1;
  flex-wrap: wrap;
  flex-direction: row;
}

#media, #absences, #occurrences, #finalStatistics{
  height: 100%;
  width: 400px;
  background-color:var(--items-color);
  border-radius: 15px;
  border: 5px solid #acacac;
  text-align: center;
}

.table{
  font-weight: bold;
  text-transform:capitalize;
  text-align: center;
  width: 100%;
  height: 90%;
}

.table td, th{
  border: 3px solid #acacac;
  border-radius: 10px;
}

#finalResult{
  padding: 30px;
}
/* =================================TeacherArea======================= */

#searchStudent{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
background-color: var(--items-color);
  border-bottom: 5px solid #acacac;
  text-transform: uppercase;
  font-weight: bold;

}

#searchStudent input, button, select{
  border: 1px solid #acacac;
  width: 200px;
  padding: 10px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px;
  font-weight: bold;
  outline: none;
}


#searchStudent button, select{
  cursor: pointer;
}
#searchStudent button:hover{
 background-color: blue;
}

#searchStudent button:active{
  background-color: aqua;
}


#editAndSearch{
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}


#searchStudentDatas{
  width: 100%;
  height: auto;
  display: none;
 justify-content:center;
 align-items: center;
 flex-direction: row;
 flex-wrap: wrap;
}

.areaEditsDatas{
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.areaEditsDatas input, select, button{
  margin-bottom: 5px;
}

#btnEditDatas{
  display: none;
}